html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    background-color: #f3f4f6;
    padding-left: 10px;
    padding-top: 15px;
}

.book-icon {
    height: 32px;
    width: auto;
}

.addButton {
    height: 50px;
    width: 100px;
}

header {
    width: 100%;
    height: 30px;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

footer {
    align-self: flex-end;
}

.bookCard {
    font-size: 15px;
}