html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    --sidebar-colour: #629460;
    --unread-colour: #ACECA1;
    --read-colour: #b0ddf5;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    background-color: var(--sidebar-colour);
    padding-left: 10px;
    padding-top: 15px;
}

.book-icon {
    height: 32px;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-button,
.random-book,
.delete-all-button {
    display: block;
    height: 30px;
    width: 100px;
}

header {
    width: 100%;
    height: 30px;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

footer {
    align-self: flex-end;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

label {
    display: inline-block;
    appearance: none;
    width: 70px;
    font-size: 20px;
}

.modal-form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 300px;
    height: 300px;
    border: 1px black solid;
    border-radius: 8px;
    background-color: white;
}

fieldset {
    appearance: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

legend {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

input {
    height: 25px;
}

.input {
    position: relative;
}

.submit-button {
    width: 100px;
    padding: 6px;
    margin-top: 5px;
}

.content {
    display: grid;
    grid-template: 50px 1fr / 1fr 1fr;
}

.tabs {
    grid-row: 1;
    grid-column: 1 / 5;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-columns: 100px;
}

.library-container {
    grid-row: 2;
    grid-column: 1 / 3;

    padding: 50px;
    display: grid;
    gap: 20px;
    grid-template: repeat(3, 200px) / repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 200px;
}

.tab {
    padding: 10px;
}

.tab:hover {
    filter: brightness(85%);
}

.tab-selected {
    border: #333 1px solid;
}

.all {
    background-color: #8c73ac;
}

.unread {
    background-color: var(--unread-colour);
}

.read {
    background-color: var(--read-colour);
}

.bookCard {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    position: relative;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 25px;
    width: 1fr;
    height: 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    background-color: var(--unread-colour);
}

.bookCard-title,
.bookCard-author {
    width: 100%;
}

.close {
    position: absolute;
    right: 14px;
    bottom: 8px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
  
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

.switch-container {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.read-switch-label {
    font-size: 13px;
    width: 80px;
    position: relative;
    left: -3px;
    top: -2px;
}

