html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    background-color: #f3f4f6;
    padding-left: 10px;
    padding-top: 15px;
}

.book-icon {
    height: 32px;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-button {
    display: block;
    height: 30px;
    width: 100px;
}

.delete-all {
    display: block;
    width: 100px;
    height: 30px;
}

header {
    width: 100%;
    height: 30px;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

footer {
    align-self: flex-end;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

label {
    display: inline-block;
    appearance: none;
    width: 70px;
    font-size: 20px;
}

.modal-form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 300px;
    height: 300px;
    border: 1px black solid;
    border-radius: 8px;
    background-color: white;
}

fieldset {
    appearance: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

legend {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

input {
    height: 25px;
}

.input {
    position: relative;
}

.submit-button {
    width: 100px;
    padding: 6px;
    margin-top: 5px;
}

.content {
    padding: 50px;
    display: grid;
    gap: 20px;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.bookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 15px;
    font-size: 25px;
    width: 1fr;
    height: 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.close {
    position: absolute;
    right: 14px;
    bottom: 8px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
  